.MainGamepage{
    display: flex;
    flex-direction: row;
}

table{
    margin-top: auto;
}
div{
    margin: 10px;
    border:1px solid aquamarine;
}

.Playbutton{
    width: 80px;
  height: 80px;
  font-size: 70px;
}